Evolución de los Precios de la Electricidad
===

# Instrucciones

En el archivo `precios.zip`  se encuentran los archivos `Precio_Bolsa_Nacional_($kwh)_ano.xls` en formato de Microsoft Excel, los cuales contienen los precios históricos horarios de la electricidad para el mercado eléctrico Colombiano entre los años 1995 y 2017 en COL-PESOS/kWh. A partir de la información suministrada realice las siguientes actividades.

**1.--** Lea los archivos y cree una tabla única concatenando la información para cada uno de los años. Debe transformar la tabla de tal forma que quede con las columnas `Fecha`, `Hora` y `Precio` (únicamente tres columnas).

In [4]:
#Leer los archivos que hay dentro de la carpeta
filenames = !ls precios/
filenames

['Precio_Bolsa_Nacional_($kwh)_1995.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1996.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1997.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1998.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1999.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2000.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2001.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2002.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2003.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2004.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2005.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2006.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2007.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2008.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2009.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2010.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2011.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2012.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2013.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2014.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2015.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2016.xls',
 'Precio_Bolsa_Nacional_($kwh)_2017.xls',
 'Precio_Bolsa_Nacional_($kwh)_2018.xls']

In [5]:
import pandas as pd

In [37]:
#Defino una funcion para leer los archivos eliminando las filas vacias
def leer_precios(filename):
    for k in range(5):  #Como se que como maximo 4 filas vacias utilizo range(5)
        df = pd.read_excel(filename,
                           skiprows = k,                #Las filas que voy a omitir
                           usecols = list(range(25)))   #Numero de columnas que voy a tomar
        if df.iloc[0,0] == 'Fecha':
            df = pd.read_excel(filename,
                               skiprows = k+1,
                               usecols = list(range(25)))
            break
        
    return(df)

In [38]:
filenames = !ls precios/
dfs = []
for filename in filenames:
    dfs.append(leer_precios("precios/"+filename)) #Agrego los otros dataframes a la lista

In [39]:
dfs = pd.concat(dfs, sort=True)  #Concatenar los dataframes
dfs.size

210225

In [40]:
dfs.shape

(8409, 25)

In [41]:
dfs.head()

,0,1,10,11,12,13,14,15,16,17,...,22,23,3,4,5,6,7,8,9,Fecha
0,NaN,1.073,2.827,2.827,2.827,1.074,1.073,1.073,1.073,1.073,...,1.073,1.073,1.073,1.073,1.073,1.073,1.073,1.074,1.074,1995-07-20
1,1.073,1.000,6.000,9.256,9.256,5.000,5.000,1.000,1.000,5.000,...,1.000,1.000,1.000,1.000,1.000,5.000,6.000,6.000,6.000,1995-07-21
2,1.073,1.073,1.303,1.303,1.303,1.303,1.073,1.000,1.000,1.000,...,1.073,1.073,1.000,1.000,1.073,1.303,1.303,1.303,1.303,1995-07-22
3,1.073,1.000,1.000,1.000,1.238,1.238,1.000,0.100,0.100,1.000,...,1.073,1.000,1.000,1.000,1.000,0.100,1.000,1.000,1.000,1995-07-23
4,1.000,1.000,8.845,9.256,3.000,1.073,1.073,1.073,3.000,2.000,...,1.073,1.000,1.000,1.000,1.073,3.000,3.000,3.000,3.500,1995-07-24

In [51]:
db = pd.melt(dfs , id_vars='Fecha')  #Convertir las tablas a la base de datos que necesito
db.head(3)

        Fecha variable  value
0  1995-07-20        0    NaN
1  1995-07-21        0  1.073
2  1995-07-22        0  1.073

In [52]:
db.columns

Index(['Fecha', 'variable', 'value'], dtype='object')

In [53]:
db.shape

(201816, 3)

**2.--** Compute e imprima el número de registros con datos faltantes.

**3.--** Compute e imprima el número de registros duplicados.

**4.--** Elimine los registros con datos duplicados o datos faltantes, e imprima la cantidad de registros que quedan (registros completos).

**5.--** Compute y grafique el precio primedio diario.

**6.--** Compute y grafique el precio máximo por mes.

**7.--** Compute y grafique el precio mínimo mensual.

**8.--** Haga un gráfico para comparar el precio máximo del mes (para cada mes) y el precio promedio mensual.

**9.--** Haga un histograma que muestre a que horas se produce el máximo precio diario para los días laborales.

**10.--** Haga un histograma que muestre a que horas se produce el máximo precio diario para los días sabado.

**11.--** Haga un histograma que muestre a que horas se produce el máximo precio diario para los días domingo.

**12.--** Imprima una tabla con la fecha y el valor más bajo por año del precio de bolsa.

**13.--** Haga una gráfica en que se muestre el precio promedio diario y el precio promedio mensual.

---